/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    background: white;
  }

  /* Link Styles */
  
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: rgb(235, 235, 0);
  }
  
  /* Section Styles */
  
  .main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    z-index: 5;
    text-align: center;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  
  .nav .navlogo {
      display: inline-block;
      margin-right: auto;
      color: white;
      max-width: 50px;
  }

  .navlogo img {
    max-width: 50px;
    padding: 0 auto;
    margin-bottom: -20px;
    margin-top: -20px;
  }

  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: white
  }
  
  .headline {
    font-family: sans-serif;
    color: white;
    position: relative; /* so it doesn't try to share space with the logo */
    top: 0; 
    text-align: center;
    height: 100%; /* fill up the .videoheader container to make it equal size with the video background */
    display: flex; 
    flex-direction: column; /* because it's easiest to vertically align content in a flexbox */
    justify-content: center; /* aligning items in a flexbox vertically centered */
    margin-left: auto;
    margin-right: auto;
    width: 80%;

  h1 {
      text-transform: uppercase;
      font-size: 45px;
      font-weight: bold;
      
     
      background: -webkit-linear-gradient(to right, #ffffff 0%, #CF1512 100%);
      background: -moz-linear-gradient(to right, #ffffff 0%, #CF1512 100%);
      background: linear-gradient(to right, #ffffff 0%, #CF1512 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0.7px;
      -webkit-text-stroke-color: white;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
    }

    a {
      display: block;
      color: white;
      background: blue;
      font-weight: bold;
      font-size: 18px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 4%;
      padding-right: 4%;
      max-width: 50%;
      border-radius: 50px;
    }
    
    p {
      font-size: 17px;
      display: inline-block;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
      line-height: 1.5;
      margin-top: -15px;
    }

  }
  
  .headlinepointer {
    display: inline-block;
    margin-top: 4%;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.75);
  }
  
  .downarrow {
    max-width: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .videoheader {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
  }
  
  .video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  .headercta {
    color: white;
    font-weight: bold;
  }


  header {
    text-align: center;
    background: url('../images/headerbackground.png') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 30%;
    padding-bottom: 30%;
  
  }
  header {
    line-height: 1.5;
  }
  
  h1 {
    display: block;
  }
  
  .tag {
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  } 
  
  .subheadline {
    color: white;
  }
  
  header a {
    color: white;
    font-weight: bold;
    background: red;
    border-radius: 10px;
    padding: 10px;
  }

  .intro {
    h2 {
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    .intro-headline {
      text-transform:uppercase;
    }

    a {
      display: inline-block;
      background: red;
      padding: 20px;
      border-radius: 15px;
    }
    
    margin-bottom: 65px;
    margin-top: 35px;
  }

  .initiativeswrapper {
    background: black;
  }

  .initiativesheadline {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: -50px;
    padding-top: 50px;
  }

  .intro-img {
      max-width: 500px;
      max-height: auto;
      margin-top: -10%;
      margin-bottom: -7.5%;
  }

  .intro-text {
    padding-top: 0;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    color: black;
    font-weight: bold;
    line-height: 1.4;
  }
  
  .card {
    margin: 30px auto -80px;
    width: 90%;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: center;
    background: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;

    a {
      display: block;
      color: white;
      background: blue;
      font-weight: bold;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2%;
      padding-bottom: 2%;
      max-width: 50%;
      border-radius: 50px;
    }

    p {
      font-family: sans-serif;
    }

  }

  .feature-one-img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: -50px;
    max-width: 100%;
}

 .feature-two-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
  max-width: 100%;
}
  
 .feature-three-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
  max-width: 100%;
}

 .feature-four-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
  max-width: 100%;
}

  .offerwrapper {
    margin: 30px auto -80px;
    width: 100%;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: center;
    background: white;
    color: black;

    h2 {
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
    }
    }

    .offers {

      div {
        display: inline-block;
        flex: 1 0 50%; 
        margin: 5px;

        img {
          width: 130px;
          height: auto;
        }
      }

      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
  

    .journeywrapper {
      margin: 30px auto -80px;
      
      padding: 20px 40px 40px;
      
      text-align: center;
      background: black;
      color: white;
  
      h2 {
        font-family: 'Times New Roman', Times, serif;
      }

      img {
        max-width: 400px;
        max-height: auto;
      }

      a {
        display: inline-block;
        background: red;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        font-size: 30px;
      }
      }

      

  footer {
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
    margin-top: 100px;
    background: white;
    color: black; 
    font-weight: bold;
  }
  
  footer .copyright {
    top: -8px;
    font-size: .75em;
  }
  
  /* Styles for larger screens */
  @media screen and (min-width: 768px) {
  
    header {
      min-height: 470px;
    }
  
    .nav {
      max-width: 1200px;
      padding: 0 30px;
    }
  
    main {
      padding-top: 20px;
      padding-bottom: 100px;
    }
  
    main p {
      line-height: 1.6em;
    }

    .intro-img {
      max-width: 600px;
      max-height: auto;
      margin-top: -5%;
      margin-bottom: -5%;
  }

    .card {
      max-width: 650px;
    }

    .offerwrapper {
      max-width: 100%;
    }

    .offers {

      div {
        display: inline-block;
        flex: 1 0 30%;
      }

      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      
    }
  
    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }

    .journeywrapper {

      h2 {
        font-size: 40px;
      }

      img {
        max-width: 650px;
        max-height: auto;
      }

      p {
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
      }
      }

    
  
  }
  
  @media screen and (min-width: 1024px) {

    .headline {
      h1 {
        font-size: 70px;
      }
    }

    .card {
      max-width: 90%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 90%;
      height: auto;

      img {
        display: inline-block;
      }
    }

    .intro-img {
      max-width: 800px;
      max-height: auto;
      margin-top: -5%;
      margin-bottom: -5%;
  }

    .feature-one-img {
      order: 1;
    }
    
    .feature-three-img {
      order: 1;
    }
    
    .feature-five-img {
      order: 1;
    }

    .contentwrapper {
      margin: auto;
    }

    .journeywrapper {

      h2 {
        font-size: 70px;
      }

      img {
        max-width: 900px;
        max-height: auto;
      }

      p {
        font-size: 30px;
        margin-left: 10%;
        margin-right: 10%;
      }


      }

  }